// header part style
header{
    nav{
       background-color: black; 
    }
    .heading{
        display:flex;
        justify-content: space-around;
        p{
            margin: auto;    
            margin-left: 150px;
            padding: 10px;
            font-size: 40px;
            text-align: center;
            width: 70%;
            font-weight: bolder;
            color:white;

        }
            a{
                cursor: pointer;
                text-decoration: none;
                font-size: 25px;
                padding: 10px;
                color: white;
                
                &:hover{
                    color: white;
                    background-color:royalblue;
                }           
        }
    }
}